.Block {
    border: 1px solid black;
}

.Block.ship {
    background-color: black;
}

.Block.water {
    background-color: aqua;
}

.Block.hit {
    background-color: red;
}

.Block.destroy {
    background-color: orange;
}