.Board {
    margin-top: 40px; 
    position: relative;
}

.Board-Cells {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    height: 400px;
    width: 400px;
    border: 1px solid black;
}

.Board-Container {
    margin: 0 40px;
}