.Ship {
    padding: 15px;
    border: 1px solid gray;
    display: flex;
    margin-bottom: 10px;
}

.Ship.current {
    border: 2px solid red;
}

.Ship.horizontal {
    flex-direction: row;
}

.Ship.vertical {
    flex-direction: column;
}

.Ship .Cell {
    width: 20px;
    height: 20px;
}