.Cell {
    border: 1px solid black;
}

.Cell.ship {
    background-color: black;
}

.Cell.water {
    background-color: aqua;
}

.Cell.hit {
    background-color: red;
}

.Cell.destroy {
    background-color: orange;
}