body {
  margin: 0;
  padding: 50px;
  font-family: sans-serif;
}

a {
  text-decoration: none;
  padding: 10px;
  background-color: green;
  color: white;
  border: whitesmoke;
  border-radius: 3px;
}

.center {
  text-align: center;
}